/* Reset dei margini e dei padding */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }
 /* Stili per il menu */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2f2f2f;
  padding: 10px 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

header img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  object-fit: cover;
  object-position: center;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-right: 20px;
  src: url("foto.jpg");
}


nav {
  display: flex;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 20px;
}

nav a {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

nav a:hover {
  background-color: #ffffff;
  color: #2f2f2f;
}
